@model IEnumerable<PortalCOSIE.Domain.Entities.Usuario>

@{
    ViewBag.Title = "Usuarios";
}

<div class="card shadow">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <!-- Título a la izquierda -->
            <h6 class="mb-0 fw-bold">Gestión de usuarios</h6>

            <!-- Contenedor alineado a la derecha y compacto -->
            <div class="d-flex align-items-center ms-auto gap-2">
                <a href="@Url.Action("Crear", "Usuario")" class="btn btn-primary btn-sm shadow-sm">
                    <i class="fas fa-plus me-2"></i>Nuevo
                </a>
            </div>
        </div>
    </div>

    <div class="card-body overflow-auto" style="height: calc(100vh - 150px);">
        <div class="container">

            <table class="table table-bordered shadow">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(model => model.Rol.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApellidoPaterno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApellidoMaterno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Celular)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedBy)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rol.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApellidoPaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApellidoMaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Celular)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedBy)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>