@model IEnumerable<PortalCOSIE.Domain.Entities.Permiso>
@{
    ViewBag.Title = "Permisos";
}

<div class="card shadow">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <!-- Título a la izquierda -->
            <h6 class="mb-0 fw-bold">Gestión de permisos</h6>

            <!-- Contenedor alineado a la derecha y compacto -->
            <div class="d-flex align-items-center ms-auto gap-2">
                <a href="@Url.Action("Crear", "Permiso")" class="btn btn-primary btn-sm shadow-sm">
                    <i class="fas fa-plus me-2"></i>Nuevo
                </a>
            </div>
        </div>
    </div>

    <div class="card-body overflow-auto" style="height: calc(100vh - 150px);">
        <div class="container">

            <table id="tblPermiso" class="table table-bordered table-hover shadow">
                
                <thead class="table-secondary">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                        <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                        <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                        <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                        <th>@Html.DisplayNameFor(model => model.UpdatedAt)</th>
                        <th>@Html.DisplayNameFor(model => model.UpdatedBy)</th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                        <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                        <td>@Html.DisplayFor(modelItem => item.UpdatedAt)</td>
                        <td>@Html.DisplayFor(modelItem => item.UpdatedBy)</td>
                        <td>
                            <a href="@Url.Action("Editar", new { id = item.Id })" class="btn btn-sm btn-primary d-inline-block">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="@Url.Action("Eliminar", new { id = item.Id })" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $('#tblPermiso').DataTable({
                responsive: true,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-MX.json'
                }
            });
        });
    </script>
}